<div class="table-wrapper">
    <table class="custom-table" [style.width.%]="getTableWidthPercent()">
        <thead cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropColumn($event)">
            <tr>
                @for (column of columns; track $index) {
                <th cdkDrag [cdkDragDisabled]="!column.draggable" (click)="sort(column)"
                    [class.sortable]="column.sortable" [style.width]="column.width" [class.asc]="showAscIcon(column)"
                    [class.desc]="showDescIcon(column)"
                    appResizableColumnDirective
                    [colIndex]="$index"
                     (resize)="onColumnResize($event)"
                     (resizingChange)="isColResizing = $event"
                    [isResizing]="isColResizing"
                    >
                    {{ column.label }}
                </th>
                }
            </tr>
        </thead>
        <tbody>
            @for (row of displayedData; track $index) {
            <tr>
                @for (column of columns; track $index) {
                <td [style.width]="column.width">
                    {{ row[column.key] }}
                </td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>

<div class="pagination">
    <button (click)="goToPage(currentPage-1)" [disabled]="currentPage === 1">Previous</button>
    @for (p of [].constructor(totalPages); track $index) {
    <button (click)="goToPage($index + 1)" [class.active]="currentPage === $index + 1">
        {{ $index + 1 }}
    </button>
    }
    <button (click)="goToPage(currentPage+1)" [disabled]="currentPage === totalPages">Next</button>
</div>